services:
  frontend:
    platform: linux/amd64
    build:
      context: ./frontend
      dockerfile: Dockerfile

  backend:
    platform: linux/amd64
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - PORT=3000
      - FRONTEND_URLS=http://localhost:8080

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
